@font-face {
  font-family: Eclat;
  src: url('./fonts/EclatMedium.woff') format('woff2'),
    url('./fonts/EclatMedium.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

body {
  height: 100vh;
  background-image: url('./images/background.jpg');
  background-size: cover;
  background-position: center;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}
