@font-face {
  font-family: Eclat;
  src: url('./fonts/EclatMedium.woff') format('woff2'),
    url('./fonts/EclatMedium.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

body {
  height: 100vh;
  background: radial-gradient(circle at center, #ffee58, #ffb300);
}

.leaflet-container {
  height: 100%;
  width: 100%;
}
